---
http_interactions:
- request:
    method: post
    uri: https://sandbox.increase.com/accounts
    body:
      encoding: UTF-8
      string: '{"entity_id":null,"informational_entity_id":null,"name":"rspec test
        creation"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "balances": {
            "current_balance": 0,
            "available_balance": 0
          },
          "balance": 0,
          "bank": "first_internet_bank",
          "created_at": "2023-03-13T21:24:51Z",
          "currency": "USD",
          "entity_id": "sandbox_entity_nojbzdgemksqqrtlj7jk",
          "informational_entity_id": null,
          "id": "sandbox_account_h4tk6k6n3xp2m47ks6js",
          "interest_accrued": "0.0",
          "interest_accrued_at": null,
          "name": "rspec test creation",
          "path": "/accounts/sandbox_account_h4tk6k6n3xp2m47ks6js",
          "status": "open",
          "replacement": {
            "replaced_account_id": null,
            "replaced_by_account_id": null
          },
          "type": "account"
        }
  recorded_at: Mon, 13 Mar 2023 21:24:51 GMT
- request:
    method: post
    uri: https://sandbox.increase.com/accounts/sandbox_account_h4tk6k6n3xp2m47ks6js/close
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "balances": {
            "current_balance": 0,
            "available_balance": 0
          },
          "balance": 0,
          "bank": "first_internet_bank",
          "created_at": "2023-03-13T21:24:51Z",
          "currency": "USD",
          "entity_id": "sandbox_entity_nojbzdgemksqqrtlj7jk",
          "informational_entity_id": null,
          "id": "sandbox_account_h4tk6k6n3xp2m47ks6js",
          "interest_accrued": "0.0",
          "interest_accrued_at": null,
          "name": "rspec test creation",
          "path": "/accounts/sandbox_account_h4tk6k6n3xp2m47ks6js",
          "status": "closed",
          "replacement": {
            "replaced_account_id": null,
            "replaced_by_account_id": null
          },
          "type": "account"
        }
  recorded_at: Mon, 13 Mar 2023 21:24:51 GMT
recorded_with: VCR 6.1.0
