---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/account_numbers?status=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "account_id": "sandbox_account_kkcjd5zbximtpjn980tu",
              "account_number": "5574354847",
              "id": "sandbox_account_number_kt2l9jhqlaihsnxfkoyd",
              "created_at": "2023-03-13T21:25:40Z",
              "name": "Rspec generated account number",
              "path": "/account_numbers/sandbox_account_number_kt2l9jhqlaihsnxfkoyd",
              "routing_number": "074920909",
              "status": "active",
              "replacement": {
                "replaced_account_number_id": null,
                "replaced_by_account_number_id": null
              },
              "type": "account_number"
            },
            {
              "account_id": "sandbox_account_kkcjd5zbximtpjn980tu",
              "account_number": "8932643730",
              "id": "sandbox_account_number_cpmtfudbzede0ztzzxq4",
              "created_at": "2023-03-13T21:24:51Z",
              "name": "Rspec generated account number",
              "path": "/account_numbers/sandbox_account_number_cpmtfudbzede0ztzzxq4",
              "routing_number": "074920909",
              "status": "active",[...]
- request:
    method: get
    uri: https://sandbox.increase.com/account_numbers/sandbox_account_number_kt2l9jhqlaihsnxfkoyd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "account_id": "sandbox_account_kkcjd5zbximtpjn980tu",
          "account_number": "5574354847",
          "id": "sandbox_account_number_kt2l9jhqlaihsnxfkoyd",
          "created_at": "2023-03-13T21:25:40Z",
          "name": "Rspec generated account number",
          "path": "/account_numbers/sandbox_account_number_kt2l9jhqlaihsnxfkoyd",
          "routing_number": "074920909",
          "status": "active",
          "replacement": {
            "replaced_account_number_id": null,
            "replaced_by_account_number_id": null
          },
          "type": "account_number"
        }
  recorded_at: Mon, 13 Mar 2023 21:34:00 GMT
recorded_with: VCR 6.1.0
