---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/accounts/bobross
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
    body:
      encoding: UTF-8
      string: |
        {
          "status": 404,
          "type": "object_not_found_error",
          "title": "Could not find the specified object.",
          "detail": "No resource of type account was found with ID bobross."
        }
  recorded_at: Mon, 13 Mar 2023 21:19:36 GMT
recorded_with: VCR 6.1.0
