---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/accounts/sandbox_account_kkcjd5zbximtpjn980tu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "balances": {
            "current_balance": 50000,
            "available_balance": 50000
          },
          "balance": 50000,
          "bank": "first_internet_bank",
          "created_at": "2023-03-12T18:44:27Z",
          "currency": "USD",
          "entity_id": "sandbox_entity_nojbzdgemksqqrtlj7jk",
          "informational_entity_id": null,
          "id": "sandbox_account_kkcjd5zbximtpjn980tu",
          "interest_accrued": "0.0",
          "interest_accrued_at": null,
          "name": "Settlement Account",
          "path": "/accounts/sandbox_account_kkcjd5zbximtpjn980tu",
          "status": "open",
          "replacement": {
            "replaced_account_id": null,
            "replaced_by_account_id": null
          },
          "type": "account"
        }
  recorded_at: Mon, 13 Mar 2023 21:19:36 GMT
recorded_with: VCR 6.1.0
