---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/accounts?status=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "balances": {
                "current_balance": 0,
                "available_balance": 0
              },
              "balance": 0,
              "bank": "first_internet_bank",
              "created_at": "2023-03-13T21:21:01Z",
              "currency": "USD",
              "entity_id": "sandbox_entity_nojbzdgemksqqrtlj7jk",
              "informational_entity_id": null,
              "id": "sandbox_account_concn0idawfvvwkafi6b",
              "interest_accrued": "0.0",
              "interest_accrued_at": null,
              "name": "test",
              "path": "/accounts/sandbox_account_concn0idawfvvwkafi6b",
              "status": "open",
              "replacement": {
                "replaced_account_id": null,
                "replaced_by_account_id": null
              },
              "type": "account"
            },
            {
              "balances": {
                "current_balance": 0,
                "available_balance": 0
              },
              "balance": 0,
              "bank": "first_internet_bank",
              "created_at": "2023-03-13T21:19:37Z",
              "currency": "USD",
              "entity_id": "sandbox_entity_nojbzdgemksqqrtlj7jk",
              "informational_entity_id": null,
              "id": "sandbox_account_yywqzptj7d99btph7obn",
       [...]
- request:
    method: patch
    uri: https://sandbox.increase.com/accounts/sandbox_account_concn0idawfvvwkafi6b
    body:
      encoding: UTF-8
      string: '{"name":"test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "balances": {
            "current_balance": 0,
            "available_balance": 0
          },
          "balance": 0,
          "bank": "first_internet_bank",
          "created_at": "2023-03-13T21:21:01Z",
          "currency": "USD",
          "entity_id": "sandbox_entity_nojbzdgemksqqrtlj7jk",
          "informational_entity_id": null,
          "id": "sandbox_account_concn0idawfvvwkafi6b",
          "interest_accrued": "0.0",
          "interest_accrued_at": null,
          "name": "test",
          "path": "/accounts/sandbox_account_concn0idawfvvwkafi6b",
          "status": "open",
          "replacement": {
            "replaced_account_id": null,
            "replaced_by_account_id": null
          },
          "type": "account"
        }
  recorded_at: Mon, 13 Mar 2023 21:21:57 GMT
recorded_with: VCR 6.1.0
