---
http_interactions:
- request:
    method: post
    uri: https://sandbox.increase.com/ach_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"sandbox_account_kkcjd5zbximtpjn980tu","account_number":"5574354847","routing_number":"074920909","addendum":null,"amount":100,"company_descriptive_date":null,"company_discretionary_data":null,"company_entry_description":null,"company_name":null,"effective_date":null,"external_account_id":null,"funding":null,"individual_id":null,"individual_name":null,"require_approval":false,"standard_entry_class_code":null,"statement_descriptor":"test
        ach transfer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "account_id": "sandbox_account_kkcjd5zbximtpjn980tu",
          "account_number": "5574354847",
          "addendum": null,
          "amount": 100,
          "currency": "USD",
          "approval": null,
          "cancellation": null,
          "created_at": "2023-03-13T21:42:32Z",
          "external_account_id": null,
          "id": "sandbox_ach_transfer_e1gsikxibrebpuoefks5",
          "network": "ach",
          "notification_of_change": null,
          "path": "/transfers/achs/sandbox_ach_transfer_e1gsikxibrebpuoefks5",
          "return": null,
          "routing_number": "074920909",
          "statement_descriptor": "test ach transfer",
          "status": "pending_submission",
          "submission": null,
          "template_id": null,
          "transaction_id": "sandbox_transaction_0beoxoyyxwcs25txtuzt",
          "company_descriptive_date": null,
          "company_discretionary_data": null,
          "company_entry_description": null,
          "company_name": null,
          "funding": "checking",
          "individual_id": null,
          "individual_name": null,
          "standard_entry_class_code": "corporate_credit_or_debit",
          "type": "ach_transfer"
        }
  recorded_at: Mon, 13 Mar 2023 21:42:32 GMT
recorded_with: VCR 6.1.0
