---
http_interactions:
- request:
    method: post
    uri: https://sandbox.increase.com/ach_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"acc_1","account_number":null,"routing_number":null,"addendum":null,"amount":100,"company_descriptive_date":null,"company_discretionary_data":null,"company_entry_description":null,"company_name":null,"effective_date":null,"external_account_id":null,"funding":null,"individual_id":null,"individual_name":null,"required_approval":null,"standard_entry_class_code":null,"statement_descriptor":"test
        ach transfer"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
    body:
      encoding: UTF-8
      string: |
        {
          "status": 400,
          "type": "invalid_parameters_error",
          "title": "Your request contains invalid parameters.",
          "detail": "The following errors were present:\n  required_approval: Unexpected parameter.;   account_id: No resource of type account was found with ID acc_1.;   external_account_id: Exactly one of `external_account_id` or `account_number` must be specified.",
          "errors": [
            {
              "field": "required_approval",
              "message": "Unexpected parameter."
            },
            {
              "field": "account_id",
              "message": "No resource of type account was found with ID acc_1."
            },
            {
              "field": "external_account_id",
              "message": "Exactly one of `external_account_id` or `account_number` must be specified."
            }
          ]
        }
  recorded_at: Mon, 13 Mar 2023 18:57:31 GMT
recorded_with: VCR 6.1.0
