---
http_interactions:
- request:
    method: post
    uri: https://sandbox.increase.com/account_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"sandbox_account_kkcjd5zbximtpjn980tu","amount":100,"description":"test
        account transfer","destination_account_id":"sandbox_account_eph1lxpbg4blsrr99pgb","require_approval":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sandbox_account_transfer_wyjxm1heoiiyn2txvft5",
          "amount": 100,
          "account_id": "sandbox_account_kkcjd5zbximtpjn980tu",
          "currency": "USD",
          "destination_account_id": "sandbox_account_eph1lxpbg4blsrr99pgb",
          "destination_transaction_id": "sandbox_transaction_doyxlphamgyxdfkjgiyp",
          "created_at": "2023-03-14T22:05:17Z",
          "description": "test account transfer",
          "network": "account",
          "status": "complete",
          "template_id": null,
          "transaction_id": "sandbox_transaction_c8xdoq0eu0bkp328yve7",
          "path": "/transfers/accounts/sandbox_account_transfer_wyjxm1heoiiyn2txvft5",
          "approval": null,
          "cancellation": null,
          "type": "account_transfer"
        }
  recorded_at: Tue, 14 Mar 2023 22:05:17 GMT
recorded_with: VCR 6.1.0
