---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/account_transfers?account_id&created_at.after&created_at.before&created_at.on_or_after&created_at.on_or_before&cursor&limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "id": "sandbox_account_transfer_ama9qwleucfsbbsphiun",
              "amount": 659498,
              "account_id": "sandbox_account_eph1lxpbg4blsrr99pgb",
              "currency": "USD",
              "destination_account_id": "sandbox_account_8ni6eynni6dkkkreqhzh",
              "destination_transaction_id": "sandbox_transaction_vckh60sltldzqebwaegf",
              "created_at": "2023-03-14T22:02:40Z",
              "description": "Empty",
              "network": "account",
              "status": "complete",
              "template_id": null,
              "transaction_id": "sandbox_transaction_4vwajtcvetu8q99pwoov",
              "path": "/transfers/accounts/sandbox_account_transfer_ama9qwleucfsbbsphiun",
              "approval": null,
              "cancellation": null,
              "type": "account_transfer"
            },
            {
              "id": "sandbox_account_transfer_2q40oezki4ab7ovpj7lp",
              "amount": 659498,
              "account_id": "sandbox_account_yhqzszehup6ewu0k68dd",
              "currency": "USD",
              "destination_account_id": "sandbox_account_eph1lxpbg4blsrr99pgb",
              "destination_transaction_id": "sandbox_transaction_vpcp1h5p5hhsescc7r1f",
              "created_at": "2023-03-14T21:41:54Z",
              "description": [...]
