---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "data": [
            {
              "account_id": "sandbox_account_0guv210nsgud6bzixayu",
              "amount": 10000,
              "currency": "USD",
              "created_at": "2023-03-13T20:20:17Z",
              "date": "2023-03-13",
              "description": "new test",
              "id": "sandbox_transaction_lvkxe4dlgmswglgc8usy",
              "route_id": null,
              "route_type": null,
              "source": {
                "category": "ach_transfer_intention",
                "ach_transfer_intention": {
                  "amount": -10000,
                  "account_number": "1234",
                  "routing_number": "123456789",
                  "class_name": "ach_transfer_intention",
                  "statement_descriptor": "new test",
                  "template_id": null,
                  "transfer_id": "sandbox_ach_transfer_ju9fm4enda8kygrbq3be"
                },
                "amount": -10000,
                "class_name": "ach_transfer_intention",
                "transfer_id": "sandbox_ach_transfer_ju9fm4enda8kygrbq3be",
                "account_number": "1234",
                "routing_number": "123456789",
                "statement_descriptor": "new test",
                "template_id": null
              },
              "type": "transaction"
            },
            {
              "account_id": "sandbox_account_0guv210nsgud6bzixayu",
              "amount": 1000,
              "currency": "USD",
              "created_at": "2023-03-13T20:19:57Z",
              "date": "2023-03-13",
              "description": "new test",
              "id": "sandbox_transaction_gdjec8aq55ze96gkigiu",
              "route_id": null,
              "route_type": null,
              "source": {
                "category": "ach_transfe[...]
