---
http_interactions:
- request:
    method: get
    uri: https://sandbox.increase.com/transactions/sandbox_transaction_4xdy2xwuvwhfmqfxb7ed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer yFj6HZkoI1qJa9EVjLVCwYNbYGjNS0KH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "account_id": "sandbox_account_0guv210nsgud6bzixayu",
          "amount": 10000,
          "currency": "USD",
          "created_at": "2023-03-13T20:17:49Z",
          "date": "2023-03-13",
          "description": "Inbound check",
          "id": "sandbox_transaction_4xdy2xwuvwhfmqfxb7ed",
          "route_id": null,
          "route_type": null,
          "source": {
            "category": "check_deposit_acceptance",
            "check_deposit_acceptance": {
              "amount": 10000,
              "currency": "USD",
              "account_number": "146559642",
              "routing_number": "573036631",
              "auxiliary_on_us": null,
              "serial_number": null,
              "check_deposit_id": "sandbox_check_deposit_1kmdzi2hj3v8qrymetns",
              "class_name": "check_deposit_acceptance",
              "file_id": "sandbox_file_tylhbvicgxy9cwwmo1xu"
            },
            "amount": 10000,
            "currency": "USD",
            "class_name": "check_deposit_acceptance",
            "file_id": "sandbox_file_tylhbvicgxy9cwwmo1xu",
            "account_number": "146559642",
            "routing_number": "573036631",
            "auxiliary_on_us": null,
            "serial_number": null,
            "check_deposit_id": "sandbox_check_deposit_1kmdzi2hj3v8qrymetns"
          },
          "type": "transaction"
        }
  recorded_at: Mon, 13 Mar 2023 20:35:07 GMT
recorded_with: VCR 6.1.0
